<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.macx.visningsappen">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:icon="@drawable/mark1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".GeofenceTransitionsIntentService"
            android:enabled="true"
            android:exported="true">
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCTRxRJSKDE-Pfq4dsFTdiLkWOn3xt7uSI" />

        <!--AIzaSyCTRxRJSKDE-Pfq4dsFTdiLkWOn3xt7uSI- map key midhun-->

       <!-- AIzaSyDvMVm1gi4Sa-m21lVvRl-NsEYITQUlqXM - old key removed by midhun-->

        <!--
        my key: AIzaSyDLVvoy7BOfnR7TXVq0QpxCyxkcWDzpE2U

        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />



        <!-- Splash screen -->
        <activity android:name=".Splash">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".NewSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".ContactActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".MapActivity"></activity>
    </application>

</manifest>